Source: libapache2-mod-rpaf
Maintainer: Geoffrey McRae <geoff@xbmc.org>
Section: httpd
Priority: extra
Standards-Version: 3.8.4
Build-Depends: apache2-threaded-dev (>= 2.0.50-10), yada (>= 0.55)
Homepage: http://github.com/gnif/mod_rpaf/
Vcs-Browser: http://github.com/gnif/mod_rpaf/
Vcs-Git: git://github.com/gnif/mod_rpaf.git

Package: libapache2-mod-rpaf
Architecture: any
Depends: apache2.2-common (>= 2.2.16-1ubuntu3.1), ${libapache2-mod-rpaf:Depends}
Description: module for Apache2 which takes the last IP from the
 'X-Forwarded-For' header or from other header specified in config.
 rpaf is short for reverse proxy add forward.
 .
 rpaf is for backend Apache servers what mod_proxy_add_forward is for
 frontend Apache servers. It does exactly the opposite of
 mod_proxy_add_forward written by Ask Bjorn Hansen.
 .
 It changes the remote address of the client visible to other Apache modules
 when two conditions are satisfied. First condition is that the remote client
 is actually a proxy that is defined in httpd.conf. Secondly if there is an
 incoming X-Forwarded-For header and the proxy is in its list of known
 proxies. It takes the last IP from the incoming X-Forwarded-For header and
 changes the remote address of the client in the request structure.
