Source: libapache2-mod-rpaf-gnif
Section: unknown
Priority: extra
Maintainer: Willem de Groot <willem@byte.nl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libapache2-mod-rpaf-gnif.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libapache2-mod-rpaf-gnif.git;a=summary

Package: libapache2-mod-rpaf-gnif
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
